/* Give a similar style as the datetime widgets */

.geoposition {
  line-height: 20px;
  margin: 0;  /* left-margin is overwritten for form .aligned p */
  padding: 0;
  color: #666;
  font-size: 11px;
}

.geoposition span {
  display: inline-block;
  width: 5.5em;
  font-weight: bold;
}
